<%- include('./template/header'); %>


			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12 ">
							<!-- <h1 class="text-white">
								Menú del día				
							</h1>	 -->
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->			


<%- include('./template/menu'); %>


<%- include('./template/footer'); %>