
			<!-- start footer Area -->		
			<footer class="footer-area">
				<div class="footer-widget-wrap">
					<div class="container">
						<div class="row section-gap">
							<div class="col-lg-4  col-md-6 col-sm-6">
								<div class="single-footer-widget">
									<h4>Horario</h4>
									<ul class="hr-list">
										<li class="d-flex justify-content-between">
											<span>Todos los días</span> <span>A partir de las 10.00AM</span>
										</li>
										<!-- <li class="d-flex justify-content-between">
											<span>Saturday</span> <span>08.00 am - 10.00 pm</span>
										</li>
										<li class="d-flex justify-content-between">
											<span>Sunday</span> <span>08.00 am - 10.00 pm</span>
										</li>																				 -->
									</ul>
								</div>
							</div>
							<div class="col-lg-4  col-md-6 col-sm-6">
								<div class="single-footer-widget">
									<h4>Contactos</h4>
									<p>
										Calle Toledo. Semáforos de Lozelsa 2 Cuadras al lago y 20Vrs abajo , Managua, Nicaragua
									</p>
									<p class="number">
										+505 8648 3488
									</p>
								</div>
							</div>						
							<div class="col-lg-4  col-md-6 col-sm-6">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.9188459299157!2d-86.25497452422229!3d12.117705088124712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73ff712ca85781%3A0x277ca954dcf33506!2sLa%20Cubana!5e0!3m2!1ses-419!2sus!4v1711397101388!5m2!1ses-419!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>						
						</div>					
					</div>					
				</div>
				<div class="footer-bottom-wrap">
					<div class="container">
						<div class="row footer-bottom d-flex justify-content-between align-items-center">
							<p class="col-lg-8 col-mdcol-sm-6 -6 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
							<ul class="col-lg-4 col-mdcol-sm-6 -6 social-icons text-right">
	                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	                            <li><a href="#"><i class="fa fa-behance"></i></a></li>           
	                        </ul>
						</div>						
					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="/public/js/popper.min.js"></script>
			<script src="/public/js/vendor/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script src="/public/js/jquery-ui.js"></script>					
  			<script src="/public/js/easing.min.js"></script>			
			<script src="/public/js/hoverIntent.js"></script>
			<script src="/public/js/superfish.min.js"></script>	
			<script src="/public/js/jquery.ajaxchimp.min.js"></script>
			<script src="/public/js/jquery.magnific-popup.min.js"></script>						
			<script src="/public/js/jquery.nice-select.min.js"></script>					
			<script src="/public/js/owl.carousel.min.js"></script>			
            <script src="/public/js/isotope.pkgd.min.js"></script>								
			<script src="/public/js/mail-script.js"></script>	
			<script src="/public/js/main.js"></script>	
		</body>
	</html>