<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="../../public/img/logo.png">
		<!-- Author Meta -->
		<meta name="author" content="Rayco García Fernándnez">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Restarante La Cubana</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="/public/css/linearicons.css">
			<link rel="stylesheet" href="/public/css/font-awesome.min.css">
			<link rel="stylesheet" href="/public/css/bootstrap.css">
			<link rel="stylesheet" href="/public/css/magnific-popup.css">
			<link rel="stylesheet" href="/public/css/jquery-ui.css">				
			<link rel="stylesheet" href="/public/css/nice-select.css">							
			<link rel="stylesheet" href="/public/css/animate.min.css">
			<link rel="stylesheet" href="/public/css/owl.carousel.css">				
			<link rel="stylesheet" href="/public/css/main.css">
		</head>
		<body>	
			<header id="header">
				<div class="header-top">
					<div class="container">
				  		<div class="row justify-content-center">
						      <div id="logo">
						        <a href="/"><img src="/public/img/logo.png" alt="" title="" /></a>
						      </div>
				  		</div>			  					
					</div>
				</div>
				<div class="container main-menu">
					<div class="row align-items-center justify-content-center d-flex">			
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="/">Inicio</a></li>
				          <li><a href="/#about">Nosotros</a></li>
				          <li><a href="/#reservation">Reservar</a></li>
				          <li><a href="/menu">Menú</a></li>
				          <li><a href="/#contact">Contacto</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->